<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_camera">
  <xacro:arg name="arm_id" default="panda"/>
  <xacro:arg name="load_gripper" default="true"/>
  <xacro:arg name="load_camera" default="true"/>
  <xacro:arg name="load_gazebo" default="false"/>
  <xacro:arg name="use_gazebo_control" default="false"/>
  
  <xacro:include filename="$(find franka_description)/robots/$(arg arm_id)/$(arg arm_id).urdf.xacro"/>

  <xacro:if value="$(arg load_camera)">
    <xacro:include filename="$(find franka_description)/robots/common/camera_realsense_D455.xacro"/>
    <xacro:camera_realsense_D455 ns="$(arg arm_id)" xyz="0.00 -0.078 0.1725" rpy="0 0 3.14" connected_to="$(arg arm_id)_link7_sc"/>
  </xacro:if>

</robot>
