<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">
  <xacro:arg name="arm_id" default="panda"/>
  <xacro:arg name="load_gripper" default="true"/>
  <xacro:arg name="load_camera" default="true"/>
  <xacro:arg name="load_gazebo" default="false"/>
  <xacro:arg name="use_gazebo_control" default="false"/>
  
  <xacro:include filename="$(find franka_description)/robots/$(arg arm_id)/$(arg arm_id).urdf.xacro"/>


  <xacro:if value="$(arg load_camera)">    
    <xacro:include filename="$(find franka_description)/robots/common/camera_realsense_D455.xacro"/>
    <!-- based on moveit_calibration - old calibration -->
    <!-- <xacro:camera_realsense_D455 ns="$(arg arm_id)" xyz="0.0144624 -0.0781259 0.159075" rpy="0 0 0" connected_to="$(arg arm_id)_link7_sc"/> -->

    <!-- point cloud calibration - tf after moveit calib of camera_link -->
    <xacro:camera_realsense_D455 ns="$(arg arm_id)" xyz="0.002 -0.075 0.172" rpy="-0.021 -0.020 -0.026" connected_to="$(arg arm_id)_link7_sc"/> 
  </xacro:if>

</robot>
